@{
    Layout = "~/Pages/Layouts/_LayoutError.cshtml";
    Page.Tittle = "Ошибка авторизации";
}
<div>
    <h1>Ошибка авторизации!</h1>
    <div class="alert alert-danger">
        Проверьте пару email/пароль и попробуйте войти снова!
    </div>
    <a href="~/Pages/LogInPage.cshtml">Войти</a>
</div>
