@{
    Layout = "~/Pages/Layouts/_LayoutError.cshtml";
    Page.Tittle = "Ошибка авторизации";
}
<div>
    <h1>Ошибка 400</h1>
    <div class="alert alert-danger">
        Неверный запрос. Удостоверьтесь что вы правильно заполнили необходимые данные!
    </div>
    <a href="~/index.cshtml">Вернуться на главную</a>
</div>
