@{
    Layout = "~/Pages/Layouts/_LayoutError.cshtml";
    Page.Tittle = "Ошибка авторизации";
}
<div>
    <h1>Ошибка 403</h1>
    <div class="alert alert-danger">
        Вы не обладает нужными правами для доступа к данной странице!
    </div>
    <a href="~/index.cshtml">Вернуться на главную</a>
</div>
