@{
    Layout = "~/Pages/Layouts/_LayoutError.cshtml";
    Page.Tittle = "Ошибка авторизации";
}
<div>
    <h1>Ошибка 404</h1>
    <div class="alert alert-danger">
        Запрашиваемый объект не найден!
    </div>
    <a href="~/index.cshtml">Вернуться на главную</a>
</div>
