@{
    Layout = "~/Pages/Layouts/_LayoutError.cshtml";
    Page.Tittle = "Ошибка регистрации";
}
<div>
    <h1>Ошибка регистрации!</h1>
    <div class="alert alert-danger">
        Удостоверьтесь, что вы заполнили все необходимые поля в правильном формате.
        Так же вы не можете использовать email, на котором уже есть аккаунт в данной системе.
    </div>
    <a href="~/Pages/LogInPage.cshtml">Войти</a>
    <a href="~/Pages/RegistrationPage.cshtml">Зарегистрироваться</a>
</div>