@{
    Layout = "~/Pages/Layouts/_LayoutPage1.cshtml";
}
<div class="main">
    <h1>Продаем плакаты и постеры. Недорого.</h1>
    <hr/>
    <div style="margin: auto;text-align: center">
        <img style="box-shadow: 0 0 10px 10px lightgray"width="90%" src="~/Content/aboutUspicture.jpg"/>
        <div style="margin: 50px">
            <ul style="list-style: none">
                <li>Email для связи:*****:****</li>
                <li>Телефон для связи: 8 800 ********</li>
            </ul>
        </div>
    </div>
</div>
