@using Epam.ExtPosterStore.BLL.Ioc
@{
    Layout = "~/Pages/Layouts/_LayoutPage1.cshtml";
    if (!User.IsInRole("admin"))
    {
        Response.Redirect("~/Pages/ErrorPages/Error403.cshtml");
    }
    var typesLogic = DependencyResolver.TypeOfProductLogic;
    var categoryLogic = DependencyResolver.CategoryLogic;
    var types = typesLogic.GetAll();
    var categories = categoryLogic.GetAll();
}
<div class="main" style="padding: 20px">
    <h2 style="text-align: center">Добавление нового товара</h2>
    <hr/>
    <form method="post" action="~/Pages/ActionHandlers/ProductActions/AddNewProductHandler.cshtml" runat="server" enctype="multipart/form-data">
        <div class="form-group">
            <label for="product_tittle">Наименование Товара:</label>
            <input id="product_tittle" class="form-control form-control-sm" type="text" name="product_tittle" required>
        </div>
        <div class="form-group">
            <label for="product_type">Тип товара:</label>
            <select id="product_type" class="form-control form-control-sm" name="product_type" required>
                @foreach (var type in types)
                {
                    <option value="@type.Id">@type.Tittle</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label for="product_category">Тип товара:</label>
            <select id="product_category" class="form-control form-control-sm" name="product_category" required>
                @foreach (var category in categories)
                {
                    <option value="@category.Id">@category.Tittle</option>
                }
            </select>
        </div>
        <div class="form-row">
            <div class="col">
                <label for="product_width">Ширина в см:</label>
                <input id="product_width" class="form-control form-control-sm" name="product_width" type="text" pattern="^[1-9]\d*(\.|,\d{0,2})?$" required />
                <small id="widthHelp" class="form-text text-muted">Пример формата: 55,5.</small>
            </div>
            <div class="col">
                <label for="product_height">Длина в см:</label>
                <input id="product_height" class="form-control form-control-sm" name="product_height" type="text" pattern="^[1-9]\d*(\.|,\d{0,2})?$" required />
                <small id="widthHelp" class="form-text text-muted">Пример формата: 55,5.</small>
            </div>
        </div>
        <br />
        <div class="form-group">
            <label for="product_img">Изображение: jpg/png не более 3мб.</label>
            <input id="product_img" class="form-control-file form-control-sm" name="product_img" type="file" />
        </div>
        <div class="form-group">
            <label for="product_price">Цена товара в &#8381</label>
            <input id="product_price" class="form-control form-control-sm" name="product_price" type="text" pattern="^[1-9]\d*(\.|,\d{0,2})?$" required />
            <small id="widthHelp" class="form-text text-muted">Пример формата: 999,99.</small>
        </div>
        <div class="align-content-center">
            <input type="submit" class="btn btn-info" value="Добавить товар" />
        </div>
    </form>
</div>
