@using Epam.ExtPosterStore.BLL.Ioc
@{
    Layout = "~/Pages/Layouts/_LayoutPage1.cshtml";
    if (!User.Identity.IsAuthenticated)
    {
        Response.Redirect("~/Pages/LogInPage.cshtml");
    }
    var userLogic = DependencyResolver.UserLogic;
    var curUser = userLogic.GetByEmail(User.Identity.Name);
}
<div class="main">
    <h1>Личный Кабинет</h1>
    <hr/>
    <div class="personal_info">
        <h4>Аккаунт: @curUser.Email</h4>
        <form method="post" action="ActionHandlers/UserActions/EditUserInfo.cshtml">
            <div class="form-group">
                <label for="nameInput">Ваше имя:</label>
                <input id="nameInput" class="form-control form-control-sm" type="text" required value="@curUser.Name" name="first_name" disabled />
            </div>
            <div class="form-group">
                <label for="surnameInput">Ваша Фамилия:</label>
                <input id="surnameInput" class="form-control form-control-sm" type="text" required value="@curUser.Surname" name="second_name" disabled />
            </div>
            <div class="form-group">
                <label for="inputPhone">Номер телефона: </label>
                <input id="inputPhone" class="form-control form-control-sm" type="tel" pattern="[8]{1}[0-9]{10}" value="@curUser.PhoneNumber" name="phone_number" disabled />
                <small id="phoneHelp" class="form-text text-muted">Телефон - 11 цифр; Пример: 89879199191.</small>
            </div>
        </form>
        <button id="eddit_allow">Редактировать</button>
        <button id="reset_password_allow">Изменить пароль</button>
    </div>
    
    <div class="reset_password">
        <form method="post" action="~/Pages/ActionHandlers/UserActions/ChangePassword.cshtml">
            <div class="form-group">
                <label for="oldPasswordInput">Старый пароль:</label>
                <input id="oldPasswordInput" class="form-control form-control-sm" type="password" name="old_password" maxlength="16" minlength="6" required />
            </div>
            <div class="form-group">
                <label for="passwordInput">Новый пароль:</label>
                <input id="passwordInput" class="form-control form-control-sm" type="password" name="password" maxlength="16" minlength="6" required />
            </div>
            <div class="form-group">
                <label for="confirmPasswordInput">Подтвердите новый пароль:</label>
                <input id="confirmPasswordInput" class="form-control form-control-sm" type="password" name="password_confirm" maxlength="16" minlength="6" required />
            </div>
            <input class="btn" type="submit" value="Изенить Пароль"/>
        </form>
    </div>
</div>
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/PersonalAccountScripts.js"></script>

