@using Epam.ExtPosterStore.BLL.Ioc
@using Epam.ExtPosterStore.WebPagesPL.Common
@{
    if (!InputNormalizer.ValidateInt(Request["ItemId"]))
    {
        Response.Redirect("~/Pages/ErrorPages/Error400.cshtml");
    }
    var productId = Int32.Parse(Request["ItemId"]);
    var commentsLogic = DependencyResolver.CommentLogic;
    var userLogic = DependencyResolver.UserLogic;
    var comments = commentsLogic.GetCommentsForProduct(productId);
}
@if (comments.Any())
{   
    foreach (var commentary in comments)
    {
        <div id="com-@commentary.Id" class="commentaryContainer">
            <h6>@userLogic.GetById(commentary.UserId).Name</h6>
            <hr/>
            <div>
                <p>@commentary.Text</p>
            </div>
            <span>Отправлено: @commentary.CreationTime</span>
            @if ((User.Identity.IsAuthenticated && (User.IsInRole("admin")) || (User.Identity.IsAuthenticated  && userLogic.GetByEmail(User.Identity.Name).Id==commentary.UserId)))
            {
                <button class="removeComment btn btn-sm btn-danger">Удалить</button>
            }
        </div>
    }
}
else
{
    <div class="alert alert-info">Отзывов пока что нет!</div>
}
