@{
    Layout = "~/Pages/Layouts/_LayoutPage1.cshtml";
}
<div class="main">
    <div style="box-shadow: 0 0 5px 5px lightgray; min-height: 400px; padding: 50px; text-align: center;">
        <div class="alert alert-success">Ваш заказ успешно оформлен!
             Вы можете посмотреть свои заказы в личном кабинете!
        </div>
        <a class="btn btn-info" href="~/Pages/OrdersPage.cshtml">Ваши заказы</a>
    </div>
</div>